.header {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  color: white;
  width: 100%;
  
}
.iteminfo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  color: white;
  cursor: pointer;
}
.logo{
  height: 60px;
  width: 60px;
  border-radius: 50px 20px;
  position: absolute;
left: 80px;
margin-top: 2px;
}